<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>
<form method="post">
    <input type="text" name="login">
    <input type="password" name="password">
    <input type="submit" value="VK Login">
</form>
<a href="/">Try again</a>
</body>
</html>